.order_top_top{
  font-size: 20px;
  text-align: center;
}
.order_top_top_left{
  font-size: 26px;
  font-weight: bold;
}
.order_top_bottom{
  text-align: center;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  color: red;
}
.order_box{
  font-size: 18px;
}
.order_box_top{
  font-size: 22px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  background: white;
  padding-left: 20px;
}
.order_one{
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: white;
}
.order_two{
  width: 100%;
  height: 240px;
  line-height: 60px;
  background: white;
}
.QRCode{
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}
.order_left{
  float: left;
  margin-left: 20px;
  color: dimgray;
}
.order_right{
  float: right;
  margin-right: 20px;
  font-weight: bold;
}
