.result_top{
  padding-top: 30px;
  height: 240px;
  background: white;
  text-align: center;
}
.result_top_top{
  font-size: 100px;
  width: 100%;
}
.result_top_mid{
  font-size: 25px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
}
.result_top_bottom{
  font-size: 14px;
  color: dimgray;
}
.result_box{
  font-size: 16px;
}
.result_box_top{
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  width: 100%;
  padding-left: 20px;
  background: white;
}
.result_one{
  background: white;
  height: 40px;
  line-height: 40px;
}
.result_left{
  float: left;
  margin-left: 20px;
  color: dimgray;
}
.result_right{
  float: right;
  margin-right: 20px;
  font-weight: bolder;
}
