<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libseat.admin.mapper.CustomerMapper">

    <select id="getCustomerList" resultType="CustomerEntity">
        SELECT
            lc.id,
            lc.username,
            lc.nickname,
            lc.icon,
            lc.sex,
            lc.tel,
            lc.email,
            lc.user_id,
            lc.delete_flag,
            lc.modify_time,
            lc.create_time,
            lc.last_login_time,
            lu.company_name
        FROM
            lib_customer lc,
            lib_user lu
        WHERE lc.delete_flag = 0
        AND lc.user_id = lu.id
        <if test="username != null and username != ''">
            AND lc.username like concat('%',#{username},'%')
        </if>
        <if test="userId != null and userId != ''">
            AND lc.user_id = #{userId}
        </if>
        <if test="sex != null and sex != ''">
            AND lc.sex = #{sex}
        </if>
        <if test="createTimeStart != null ">
            AND lc.create_time <![CDATA[ >= ]]> #{createTimeStart}
        </if>
        <if test="createTimeEnd != null ">
            AND lc.create_time <![CDATA[ <= ]]> #{createTimeEnd}
        </if>
        <if test="lastLoginTimeStart != null ">
            AND lc.last_login_time <![CDATA[ >= ]]> #{lastLoginTimeStart}
        </if>
        <if test="lastLoginTimeEnd != null ">
            AND lc.last_login_time <![CDATA[ <= ]]> #{lastLoginTimeEnd}
        </if>
        ORDER BY id DESC
    </select>

    <insert id="insertCustomerBatch" parameterType="List" >
        insert into lib_customer
        (
            username,
            nickname,
            icon,
            sex,
            status,
            password,
            tel,
            email,
            user_id,
            delete_flag,
            modify_time,
            create_time,
            last_login_time
        )
        VALUES
        <foreach collection="customerEntities" item="customerEntity" separator=",">
        (
            #{customerEntity.username},
            #{customerEntity.nickname},
            #{customerEntity.icon},
            #{customerEntity.sex},
            #{customerEntity.status},
            #{customerEntity.password},
            #{customerEntity.tel},
            #{customerEntity.email},
            #{customerEntity.user_id},
            #{customerEntity.delete_flag},
            #{customerEntity.modify_time},
            #{customerEntity.create_time},
            #{customerEntity.last_login_time}
        )
        </foreach>
    </insert>

    <update id="deleteCustomerBatch" parameterType="List">
        update lib_customer
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="modify_time = case id" suffix="end,">
                <foreach collection="customerEntities" item="customerEntity" index="index">
                     when #{customerEntity.id} then #{customerEntity.modifyTime}
                </foreach>
            </trim>
            <trim prefix="delete_flag = case id" suffix="end,">
                <foreach collection="customerEntities" item="customerEntity" index="index">
                     when #{customerEntity.id} then #{customerEntity.deleteFlag}
                </foreach>
            </trim>
        </trim>
        WHERE
        <foreach collection="customerEntities" item="customerEntity" separator="or"  index="index" >
            id = #{customerEntity.id}
        </foreach>
    </update>

    <select id="getYesterdayCustomerByUserId" resultType="CustomerEntity">
        SELECT
            lc.id,
            lcb.total_days,
            lcb.total_value,
            lcb.total_times
        FROM
        lib_customer lc
        LEFT JOIN lib_customer_bag lcb
        ON lc.id = lcb.customer_id
        WHERE
            lc.user_id = #{userId}
        AND
            lc.create_time <![CDATA[ >= ]]> #{yesStartTime}
        AND
            lc.create_time <![CDATA[ < ]]> #{yesEndTime}
    </select>
</mapper>
