<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libseat.admin.mapper.OrderMapper">

    <select id="getOrderList" resultType="OrderEntity">
        SELECT
            lo.id,
            lo.`no`,
            lo.create_time,
            lo.pay_id,
            lo.user_id,
            lo.customer_Id,
            lo.price,
            lo.progress,
            lo.`type`,
            lo.delete_flag,
            lu.company_name,
            lc.username customer_name,
            lp.pay_time
        FROM
            lib_order lo
            JOIN lib_user lu ON lo.user_id = lu.id
            JOIN lib_customer lc ON lo.customer_id = lc.id
            LEFT JOIN lib_pay lp ON lo.pay_id = lp.id
        WHERE
            lo.delete_flag = 0
        <if test="id != null">
            AND lo.id = #{id}
        </if>
        <if test="no != null and no != ''">
            AND lo.`no` like concat('%',#{no},'%')
        </if>
        <if test="company != null and company != ''">
            AND lu.company_name like concat('%',#{company},'%')
        </if>
        <if test="customer != null and customer != ''">
            AND lc.username like concat('%',#{customer},'%')
        </if>
        <if test="type != null">
            AND lo.`type` = #{type}
        </if>
        <if test="progress != null">
            AND lo.progress = #{progress}
        </if>
        <if test="createStartTime != null ">
            AND lo.create_time <![CDATA[ >= ]]> #{createStartTime}
        </if>
        <if test="createEndTime != null ">
            AND lo.create_time <![CDATA[ <= ]]> #{createEndTime}
        </if>
        ORDER BY lo.id
    </select>
</mapper>