<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libseat.admin.mapper.ProductMapper">

    <select id="getProductList" resultType="ProductEntity">
        SELECT
            lp.id,
            lp.`no`,
            lp.`name`,
            lp.`type`,
            lp.con_type,
            lp.user_id,
            lp.times,
            lp.start_time,
            lp.end_time,
            lp.money,
            lp.original_price,
            lp.price,
            lp.`status`,
            lp.sales_limit,
            lp.des,
            lp.create_time,
            lp.modify_time,
            lu.company_name
        FROM
            lib_product lp,
            lib_user lu
        WHERE lp.user_id = lu.id
        <if test="id != null">
            AND lp.id = #{id}
        </if>
        <if test="no != null and no != ''">
            AND lp.`no` like concat('%',#{no},'%')
        </if>
        <if test="name != null and name != ''">
            AND lp.`name` like concat('%',#{name},'%')
        </if>
        <if test="type != null">
            AND lp.`type` = #{type}
        </if>
        <if test="companyName != null and companyName !=''">
            AND lu.company_name like concat('%',#{companyName},'%')
        </if>
        <if test="conType != null">
            AND lp.con_type = #{conType}
        </if>
        ORDER BY lp.id
    </select>

    <delete id="deleteProductBatch" parameterType="Integer">
        DELETE FROM lib_product
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>