<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libseat.admin.mapper.SeatMapper">
    <!--0代表此处为无座，1代表空座，2代表已被占用-->
    <select id="getSeatList" resultType="SeatEntity">
        SELECT
            ls.id,
            ls.room_id,
            ls.`row`,
            ls.line,
            MAX(los.order_id) order_id,
            MAX(los.start_time) start_time,
            MAX(los.end_time) end_time,
        CASE
             WHEN lo.`status` IS NULL THEN ls.`status`
             WHEN ls.`status` = 0 THEN 0
             WHEN lo.`status` <![CDATA[ >= ]]> 3 THEN 1
             WHEN #{startTime} <![CDATA[ >= ]]> los.end_time THEN 1
             WHEN #{endTime} <![CDATA[ <= ]]> los.start_time THEN 1
			 ELSE 2
        END AS `status`
        FROM
	        lib_seat ls
        LEFT JOIN lib_order_seat los
        ON ls.id = los.seat_id
        JOIN lib_order lo
        on los.order_id = lo.id
        WHERE ls.room_id = #{roomId}
        GROUP BY ls.id
        ORDER BY ls.id
    </select>
</mapper>